@import "tailwindcss";
@plugin "tailwind-scrollbar";

:root {
  --navbar-height: 56px;
  --section-offset: 0px;
}

@media (min-width: 768px) {
  :root {
    --navbar-height: 64px;
    --section-offset: 0px;
  }
}

.page-scroll {
  scroll-padding-top: calc(var(--navbar-height) + var(--section-offset));
}

.page-section {
  scroll-margin-top: calc(var(--navbar-height) + var(--section-offset));
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
